alembic
Flask
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
Flask-Bootstrap
Flask-Security
git+https://github.com/dcolish/flask-markdown.git@8c93686
SQLAlchemy
Werkzeug
pytest-flask-sqlalchemy
python-dotenv
email_validator
click
click-log
bcrypt
icalendar
paste
