alembic
Flask
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
Flask-Bootstrap
Flask-Security
SQLAlchemy
Werkzeug
pytest-flask-sqlalchemy
python-dotenv
email_validator
click
click-log
bcrypt
icalendar
paste
markdown
