{% extends "base-admin.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Seminar Details {% endblock %}
{% block content %}
<div class="container">
  <div class="page-header">
    <h1>Seminar Slots Bulk Add</h1>
  </div>
  <form method="POST" action="{{ url_for('.bulk_add') }}">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">{{ form.startdate.label }} {{ form.startdate(class="form-control") }}</div>
        <div class="col-md-6">{{ form.enddate.label }} {{ form.enddate(class="form-control") }}</div>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col-md-6">{{ form.time.label }} {{ form.time(class="form-control") }} </div>
        <div class="col-md-6">
          <div class="form-check form-check-inline">      
          {{form.dow.label}}<br />
          {% for subfield in form.dow %}
            {{ subfield(class="form-check-input") }}
            {{ subfield.label(class="form-check-label") }}
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-6"> {{form.venue.label}} {{form.venue(class="form-control")}} </div>
        <div class="col-md-6">{{ form.minder.label }} {{ form.minder(class="form-control") }} </div>        
      </div>
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-primary") }}
    </div>    
  </form>
</div>
{% endblock %}
